h1 {
color: black;
font-family: verdana;
font-size: 200%;
text-align: center;
}
#title {
background-color: gray;
}

#Triangle-Tracker {
background-color: yellow;
padding: 10px;
}
body {
    background-color: red;
}
